
<div class="row"><div class="col-md-12" style="text-align:center;">	
<script type="text/javascript">
    google_ad_client = "ca-pub-6360619975159627";
    google_ad_slot = "7845049998";
    google_ad_width = 728;
    google_ad_height = 90;
</script>
<!-- hots banner -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></div>
<div class="row">
<div class="col-md-4 col-md-offset-4">
<form>
<div style="text-align:center"><h1 class="heading"><img src="images/icon.jpg	" class="icon" >HoTS Analyzer</h1></div>
<input  class="form-control" type="text" name="player" value="{{name}}" placeholder="Please enter your Blizzard username" autofocus >
</form>
</div>
</div>
<div class="row" style="height:3em;"></div>

{{#if notfound}}
<div class="row"><div class="col-md-8 col-md-offset-2"><h2 style="text-align:center; margin-top:2em;margin-bottom:1em;">Player not found, or not matches found for the specified player.</h2></div></div>

{{/if}}
{{#unless hideall}}
<div class="row"><div class="col-md-8 col-md-offset-2"><h2 style="text-align:center; margin-top:1em;margin-bottom:1em;">
Frequently-Played Heros</h2></div></div>
{{/unless}}




{{#each heros}}

	
	{{#if hide}}
	{{else}}

	{{#ifCond games '>=' 20}}       
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 results {{relativePerformance}}">

	<img src="{{url}}" class="portrait">
	<div style="display:inline-block;">
	<h3>{{advice}} {{logs_name}}.</h3>
	<h5>Your win rate is {{delta}}% {{better_worse}} than the average {{logs_name}} player.</h5>
	<h5>You have {{win}}%  over {{games}} games, with players averaging {{totalWin}}% overall.</h5>	

	</div>
	</div>

	</div>
	{{/ifCond}}
	{{/if}}
{{/each}}
{{#unless hideall}}
<div class="row"><div class="col-md-8 col-md-offset-2"><h2 style="text-align:center; margin-top:2em;margin-bottom:1em;">Rarely-Played Heros</h2></div></div>
{{/unless}}
{{#each heros}}	

	
	{{#if hide}}
	{{else}}

	{{#ifCond games '<' 20}}       
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 results {{relativePerformance}}">

	<img src="{{url}}" class="portrait">
	<div style="display:inline-block;">
	<h3>{{advice}} {{logs_name}}.</h3>
	<h5>Your win rate is {{delta}}% {{better_worse}} than the average {{logs_name}} player.</h5>
	<h5>You have {{win}}%  over {{games}} games, with players averaging {{totalWin}}% overall.</h5>	

	</div>
	</div>

	</div>
	{{/ifCond}}
	{{/if}}
{{/each}}
   <a class="hidden" href="/?player=Yablargo"></a>
</div>
<!-- <footer id="footer">
      <div class="container">
        <p class="text-muted small">Copyright 2015 MOTIV8N LLC.</p>
      </div>
   
    </footer>
    -->
