<div class="row">
<div class="col-md-4 col-md-offset-4">
<form>

<div style="text-align:center"><h1 class="heading"><img src="images/icon.jpg" class="icon" >HoTS Analyzer</h1></div>
<input  class="form-control" type="text" value="{{name}}" name="player" placeholder="Please enter your Blizzard username" autofocus >
</form>
</div>
</div>
<div class="row" style="height:3em;"></div>



<div class="row"><div class="col-md-8 col-md-offset-2"><h2 style="text-align:center; margin-top:1em;margin-bottom:1em;">Please select your profile</h2></div></div>





{{#each players}}

<table class="table">
</table>


<div class="bs-callout bs-callout-info col-md-6 col-md-push-3" id="callout-type-dl-truncate">
<h4><a a href="/?playerid={{id}}">{{region}}  {{name}}</a></h4>
    <p>MMR: {{rating}}	Games: {{games}}</p>
  </div>

{{/each}}

</div>
