body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top:0px;
}

a {
  color: #00B7FF;
}

.results{
border-right:1px solid black;
border-top: 1px solid;
border-left: 1px solid white;
height:300px;
z-index:1;
padding-left:0 !important;
margin-left:0;
}

.portrait
{
	height:300px;
	width:206px;
}
.results:before
{
background-image: url('../images/lane.jpg');
background-size: 100% 100%;opacity: 0.25;
 content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  	
  z-index:-2;
}
.good:after
{
	background-color:green;
	opacity: 0.25;
	z-index:-1;
	 content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  	
  z-index:-1;

}
.bad:after
{
	background-color:red;
	opacity: 0.25;
	z-index:-1;
	 content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  	
  z-index:-1;

}

.icon
{
    height:2em;
    width:2em;        
    position:relative;

}

.headline
{

}

.banner
{
  height:5em;
  text-align:center;
}


.bs-callout
{
    padding: 20px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bs-callout-info
{
	    border-left-color: #1b809e;
}

#footer {

    position: absolute;
    bottom: 0;
     
      
}


 